@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Affectionately Yours';
    src: url('/fonts/AffectionatelyYours-TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }


  