@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Affectionately Yours';
    src: url('/fonts/AffectionatelyYours-TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  /* .rectangleDiv {
    width: 100%;
    position: relative;
    backdrop-filter: blur(60px);
    background: radial-gradient(50% 50% at 50% 50%, rgba(64, 134, 244, 0.2), rgba(242, 242, 242, 0.2)),
      radial-gradient(50% 50% at 50% 50%, rgba(253, 213, 76, 0.2), rgba(251, 216, 97, 0.2) 12.97%, rgba(249, 221, 126, 0.2) 30.82%, rgba(247, 225, 147, 0.2) 43.36%, rgba(240, 240, 240, 0.2)),
      radial-gradient(50% 50% at 50% 50%, rgba(249, 108, 136, 0.2), rgba(254, 254, 254, 0.2)), rgba(255, 255, 255, 0.44);
    border: 1px solid rgba(255, 255, 255, 0.1);
    

  } */
  

  
body {
  @apply min-h-screen;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0.44) 100%),
              radial-gradient(96.33% 55.41% at 612.38% 99.08%, rgba(249, 108, 136, 0.20) 0%, rgba(254, 254, 254, 0.20) 100%),
              radial-gradient(68.91% 63.13% at 137.29% -16.95%, rgba(253, 213, 76, 0.20) 0%, rgba(251, 216, 97, 0.20) 13%, rgba(249, 221, 126, 0.20) 31%, rgba(247, 225, 147, 0.20) 43%, rgba(240, 240, 240, 0.20) 100%),
              radial-gradient(121.33% 121.31% at -291.08% 47.45%, rgba(64, 134, 244, 0.20) 0%, rgba(242, 242, 242, 0.20) 100%);
  border: 1px solid rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(60px);
}